{%extends 'header.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
{% block content %}
   
    {%if msg%}
    <b style="color: blue;">{{msg}}</b>
    {%endif%}
 
    <form name="contact" method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td><input type="text" name="mobile"></td>
            </tr>
            <tr>
                <td>Remark</td>
                <td><Textarea rows="5" cols="22" name="remarks"></Textarea></td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <input type="submit" value="SUBMIT" class="btn btn-success">
                </td>
            </tr>
        </table>
    </form>
    <h1>Recent Contacts: </h1>
    <hr>
    {%for i in contacts%}
        Name:{{i.name}}<br>
        Remarks:{{i.remarks}} <br> <hr>
    {%endfor%}
 {% endblock %}    


</body>


</html>