{% extends 'seller-header.html' %}

{% load static %}

{% block content%}

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <span class="breadcrumb-item active">Seller Profile</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                class="bg-secondary pr-3">Profile</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    {% if msg %}
                    <b style="color: blue;">{{msg}}</b>
                    {% endif %}
                    <form name="sentMessage" method="POST" action="{% url 'profile'%}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" value="{{user.fname}}" name="fname" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" value="{{user.lname}}" name="lname" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" value="{{user.email}}" name=" email"
                                readonly />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" value="{{user.mobile}}" readonly
                                name=" mobile" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" name="address">{{user.address}}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <img src="{{user.profile_picture.url}}" alt=""
                                style="width: 100px; height: 100px; border-radius: 50%; padding: 5px;">
                        </div>
                        <div class="control-group">
                            <input type="file" class="form-control" name="profile_picture" />
                            <p class=" help-block text-danger"></p>
                        </div>

                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Update
                                Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

</body>

</html>
{% endblock %}